.coinContainer {
    display: flex;
    justify-content: center;
}
  
.coinRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid #d7d7d7;
    width: 1000px;
}
  
.coin {
    display: flex;
    align-items: center;
    padding-right: 25px;
    min-width: 320px;
}
  
.coin h1 {
    font-size: 18px;
    width: 150px;
}
  
.coin img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}
  
.coinSymbol {
    text-transform: uppercase;
}
  
.coinData {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
}
  
.coinPrice {
    width: 100px;
}
  
.coinVolume {
    width: 145px;
}
  
.coinMarketcap {
    width: 210px;
}
  
.coinRed {
    width: 120px;
    color: red;
}
  
.coinGreen {
    width: 120px;
    color: green;
}